@import "../../vars.css";

.projectSection {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.projectContainer {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.projectContent {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #57bc78 0%, #13532a 100%);
    box-shadow: 0 16px 14px 0 #042d15;    
    padding: 18px 24px;
    max-width: 345px;
}

.projectImage {
    margin-bottom: 26px;
}

.projectTitle {
    font-size: 25px;
    font-weight: 700;
}

.projectDescription {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.projectSkillsList {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.projectSkill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.projectLinks {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.projectLink {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
}